<base href="http://localhost:3000/" />
<section>

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Mathmaticians_Image" class="img-responsive text-center" src="/modules/core/client/img/Mathematicians.png" width="1000" height="1000"/>
      </div>
    </div>
    <br>
    <div class="row">
       <p class="lead">
        Welcome to MathBuds!  
		</p>
		<p class="lead">  
		The social maths application that helps you feel connected while you study!
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary" href="/posts" rel="noopener">View Posts</a>
        <a class="btn btn-primary" href="/posts/create" rel="noopener">Create New Post</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a class="btn btn-success btn-lg" href="/modules/maths/client/pyth.html" target="_self" rel="noopener">Pythagoras</a>
        <a class="btn btn-success btn-lg" href="/modules/maths/client/quad.html" target="_self" rel="noopener">Quadratics</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>ign In</h2>
      <p><a href="/authentication/signin" rel="noopener">Sign In</a> to access all features of MathBuds!</p>
    </div>
    <div class="col-md-3">
      <h2><strong>C</strong>reate</h2>
      <p><a href="/posts/create" rel="noopener">Create</a> Posts to stay social with your fellow mathmaticians!</p>
    </div>

    <div class="col-md-3">
      <h2><strong>D</strong>elete</h2>
      <p><a href="/posts" rel="noopener">Delete</a> Posts you've created if you no longer like them! </p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>alk</h2>
      <p><a href="/chat" rel="noopener">Talk</a> with others about maths! Ask for help with your maths in realtime!</p>
    </div>
  </div>
  
</section>
