<section>
  <div class="page-header">
    <h1>Mathematicians Posts</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ticket in vm.tickets"
       ui-sref="tickets.view({ ticketId: ticket._id })"
       class="list-group-item">

      <h4 class="list-group-item-heading" ng-bind="ticket.name" style="font-weight:600"></h4>
      <p>{{ticket.desc}}</p>
      <small class="list-group-item-text">
        Post created on
        <span ng-bind="ticket.created | date:'mediumDate'"></span>
        by
        <span ng-if="ticket.user" ng-bind="ticket.user.displayName"></span>
        <span ng-if="!ticket.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.tickets.$resolved && !vm.tickets.length">
    No active posts at the moment!, but you can <a ui-sref="tickets.create">create one</a>?
  </div>
</section>
