<section>
  <div class="page-header">
     <h1><span ng-bind="vm.ticket.name"></span></h1>
     <div ng-bind="vm.ticket.desc"></div>
  </div>

  <div class="pull-right"
       ng-show="vm.ticket.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="tickets.edit({ ticketId: vm.ticket._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Post created on
      <span ng-bind="vm.ticket.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.ticket.user"
            ng-bind="vm.ticket.user.displayName"></span>
      <span ng-if="!vm.ticket.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.ticket.content"></p>
</section>
